<div class="burger">
    <img src="/assets/images/burger.jpg">
</div>

{{!-- left popup --}}
<div class="waiting-devoured">

</div>

{{!-- right popup --}}
<div class="devoured">

</div>

<div class="bg" />